<div class="row">
  <div id="top-card"class="card" style="width:100%; height:800px;">
    <div id="top-img-scroll">
      <%= image_tag "10790_report_title_640_360.jpg",id: "top-card-img"  %>
      <%= image_tag "8877a9ba-c806-4bce-8ca5-89fda38a11c2.jpeg",id: "top-card-img"  %>
      <%= image_tag "10562x3315826x1.jpg",id: "top-card-img"  %>
    </div>
  </div>
</div>
<div class="row" style="margin-top:200px;">
    <div class = "top-flame-image">
      <%= image_tag "img/82095.jpg" %>
        <p>ようこそ、<strong>Nagano Cake</strong></strong>へ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
    </div>

    </div>
</div>
<div class="row" style="margin-top:200px; margin-bottom:100px;">
  <div class="mt-5" style="width:100%;">
    <h3 class="text-main ">新着商品</h3>
    <div id="top-pub_products" >
      <!--eachのひとかたまり-->
      <% @products.each do |product| %>
      <div id="pub_product" class="card shadow-sm">
        <!--商品画像-->
        <div class="card-img-top">
          <%= attachment_image_tag product,:image ,:fill,300,200,fallback: "no_image.png",size: "300x200" %>
        </div>
        <!--商品ネーム-->
        <div class="card-body">
          <div class="mb-2">
            <%= link_to public_product_path(product),class:"text-dark",style:"font-size:20px;" do%>
              <%= product.name %>
            <% end %>
          </div>
          <!--商品金額-->
          <div style="font-size:15px;">
            <% @product_price = product.tax_out_price * 1.1 %>
            ￥<%= @product_price.floor.to_s(:delimited)%>（税込）
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div id="top-btn">
      <button class="btn btn-o mt-5 justify-content-center">
        <%= link_to "全ての商品を見る", public_products_path ,class: "text-o"%>
      </button>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="mt-5" style="width:100%;">
    <!--ジャンル一覧を部分テンプレートで表示-->
    <%= render "public/products/genre", gernres: @genres %>
  </div>
</div>

