<header>
  <nav class="navbar navbar-expand-md navbar-light">
    <div class = "container">
      <div class="navbar-brand p-3">
        <% if admin_signed_in? %>
        <%# 管理者がログインした時　%>
          <%= link_to image_tag("img/logo.jpg",size: '100x100',), admin_root_path %>
        <% else %>
        <%# 顧客顧客がログインした時　%>
          <%= link_to image_tag("img/logo.jpg",size: '100x100'),  public_root_path %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbardrop" aria-controls="navbardrop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbardrop">
        <ul class = "nav navbar-nav  ">
          <% if member_signed_in? %>
          <!--カスタマーがログインしている時 -->
          <li>
            <%= link_to "マイページ", public_member_path(current_member) ,class: "nav-text mx-3" %>
          </li>
          <li>
            <%= link_to "商品一覧", public_products_path ,class: "nav-text mx-3" %>
          </li>
          <li>
            <%= link_to "カート", public_cart_products_path ,class: "nav-text mx-3" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_member_session_path, method: :delete,class: "nav-text mx-3 mr-5"  %>
          </li>
          <% elsif admin_signed_in? %>
          <!-- 管理者がログインしている時 -->
          <li>
            <%= link_to "商品一覧", admin_products_path,class: "nav-text mx-3" %>
          </li>
          <li>
            <%= link_to "会員一覧", admin_members_path,class: "nav-text mx-3"  %>
          </li>
          <li>
            <%= link_to "注文履歴一覧", admin_root_path,class: "nav-text mx-3" %>
          </li>
          <li>
            <%= link_to "ジャンル一覧", admin_genres_path,class: "nav-text mx-3" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "nav-text mx-3 mr-5" %>
          </li>
          <% else %>
          <!-- ログインしていない時 -->
          <li>
            <%= link_to "Concept",  public_homes_about_path,class: "nav-text mx-3" %>
          </li>
          <li>
            <%= link_to "商品一覧",  public_products_path,class: "nav-text mx-3" %>
          </li>
          <li>
            <%= link_to "新規登録", new_member_registration_path,class: "nav-text mx-3" %>
          </li>
          <li>
            <%= link_to "ログイン", new_member_session_path,class: "nav-text mx-3 mr-5" %>
          </li>
          <% end %>
        </ul>
        <div id="search2" class=" mt-3" style="">
        <%= form_with url: public_search_path, method: :get,  local: true do |f|%>
        <%= f.text_field :keyword, value: @keyword ,placeholder: "Search",class: " form-control form-control-sm  ",style: "width:250px; margin-right:10px;"%>
        <%= f.submit "検索",class:"btn-sm btn-o" %>
        <% end %>
      </div>
      </div>
      </div>
    </div>
        <div id="search1" class=" mt-3" style="">
        <%= form_with url: public_search_path, method: :get,  local: true do |f|%>
        <%= f.text_field :keyword, value: @keyword ,placeholder: "Search",class: " form-control form-control-sm  ",style: "width:250px; margin-right:10px;"%>
        <%= f.submit "検索",class:"btn-sm btn-o" %>
        <% end %>
      </div>
  </nav>
</header>